source https://nuget.org/api/v2
nuget Newtonsoft.Json
github fsprojects/Chessie src/Chessie/ErrorHandling.fs
github fsharp/FSharp.Data src/Net/UriUtils.fs
github fsharp/FSharp.Data src/Net/Http.fs
github fsharp/FSharp.Data src/CommonRuntime/TextConversions.fs
github fsharp/FSharp.Data src/CommonRuntime/IO.fs
github fsharp/FSharp.Data src/Json/JsonValue.fs

group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  nuget NUnit ~> 3
  nuget NUnit.Runners ~> 3